
Enable SCHED_CLASS_EXT by default.

Signed-off-by: Holger Hoffstätte <holger@applied-asynchrony.com>

--- a/kernel/Kconfig.preempt	2025-04-10 14:44:49.000000000 +0200
+++ b/kernel/Kconfig.preempt	2025-04-24 02:18:20.125256541 +0200
@@ -152,6 +152,7 @@ config SCHED_CORE
 
 config SCHED_CLASS_EXT
 	bool "Extensible Scheduling Class"
+	default y
 	depends on BPF_SYSCALL && BPF_JIT && DEBUG_INFO_BTF
 	select STACKTRACE if STACKTRACE_SUPPORT
 	help
